{extend name="public/base" /}
{block name="title"}重复文档列表{/block}

{block name="content"}

<div class="container-fluid admin-content-nav">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{:url('repetarc')}">重复文档列表</a></li>
    <li class="breadcrumb-item active"><a href="{:url('index')}">文章列表</a></li>
  </ol>
</nav>
</div>

<div class="container-fluid">
  <div class="admin-content-ptb15 border-bottom-0">
    <a href="{:url('add')}<?php if (!empty($_GET["id"])) { echo '?type_id='.$_GET["id"]; }?>" class="btn btn-danger"><i class="bi bi-plus-circle"></i> 发布文章</a>
  </div>
<form name="listarc">
<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead class="table-light">
<tr>
<th>文档标题</th>
<th>重复数量</th>
</tr></thead>
<tbody>
<?php if ($list) { foreach ($list as $row) { ?>
<tr>
    <td><a href="{:url('index')}?type_id=0&keyword=<?php echo $row["title"]; ?>"><?php echo $row["title"]; ?></a></td>
    <td><?php echo $row["count"]; ?></td>
</tr>
<?php } } ?>
</tbody>
</table></div><!-- 表格结束 --></form><!-- 表单结束 -->
</div>
{/block}