{extend name="public/base" /}
{block name="title"}广告管理{/block}

{block name="content"}

<div class="container-fluid admin-content-nav">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{:url('index')}">广告管理(<?php echo $list->total(); ?>条)</a></li>
  </ol>
</nav>
</div>

<div class="container-fluid admin-content-ptb15">
  <form action="{:url('index')}" method="get" class="row g-2 align-items-center">
	  <div class="col-auto g-1">
		搜索：
	  </div>
	  <div class="col-auto">
		<div class="input-group">
		  <input id="keyword" name="keyword" type="text" placeholder="请输入关键字" autocomplete="off" class="form-control">
		  <button class="btn btn-success" type="submit">搜索</button>
		</div>
	  </div>
  </form>
</div>

<div class="container-fluid">
  <div class="admin-content-ptb15 border-bottom-0">
    <a href="{:url('add')}" class="btn btn-danger"><i class="bi bi-plus-circle"></i> 添加广告</a>
  </div>
<form name="listarc"><div class="table-responsive"><table class="table table-bordered table-hover">
<thead class="table-light"><tr>
<th>ID</th>
<th>名称</th>
<th>是否限时</th>
<th>结束时间</th>
<th>管理</th>
</tr></thead>
<tbody>
<?php if ($list) { foreach ($list as $row) { ?><tr>
<td><?php echo $row["id"]; ?></td>
<td><?php echo $row["name"]; ?></td>
<td><?php if ($row["is_expire"] == 0) { echo '不限时间'; } else { echo '限时标记'; } ?></td>
<td><?php if ($row["end_time"] > 0) { echo date('Y-m-d', $row["end_time"]); } ?></td>
<td><a href="{:url('edit')}?id=<?php echo $row["id"]; ?>">修改</a> | <a onclick="delconfirm('{:url('del')}?id=<?php echo $row["id"]; ?>')" href="javascript:;">删除</a></td>
</tr><?php } } ?>
</tbody></table></div><!-- 表格结束 --></form><!-- 表单结束 -->
<div class="backpages">{$page}</div>
</div>
{/block}