{extend name="public/base" /}
{block name="title"}留言列表{/block}

{block name="content"}

<div class="container-fluid admin-content-nav">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{:url('index')}">留言列表(<?php echo $list->total(); ?>条)</a></li>
  </ol>
</nav>
</div>

<div class="container-fluid admin-content-ptb15">
  <form action="{:url('index')}" method="get" class="row g-2 align-items-center">
	  <div class="col-auto g-1">
		搜索：
	  </div>
	  <div class="col-auto">
		<div class="input-group">
		  <input id="keyword" name="keyword" type="text" placeholder="请输入关键字" autocomplete="off" class="form-control">
		  <button class="btn btn-success" type="submit">搜索</button>
		</div>
	  </div>
  </form>
</div>

<div class="container-fluid admin-content-ptb15 border-bottom-0">
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead class="table-light">
	<tr>
	  <th>编号</th>
	  <th width=25%>标题</th>
	  <th>留言时间</th>
	  <th width=45%>内容</th><th>操作</th>
	</tr>
  </thead>
  <tbody>
  <?php if($list){foreach($list as $row){ ?>
	<tr>
	  <td><?php echo $row["id"]; ?></td>
	  <td><?php echo $row["title"]; ?></td>
	  <td><?php echo date('Y-m-d H:i:s',$row["add_time"]); ?></td>
	  <td><?php echo $row["msg"]; ?></td><td>&nbsp;<a onclick="delconfirm('{:url('del')}?id=<?php echo $row["id"]; ?>')" href="javascript:;">删除</a></td>
	</tr>
  <?php }} ?>
  </tbody>
</table>
</div><!-- 表格结束 -->
<div class="backpages">{$page}</div>
</div>

<script>
$(function(){
	$('.required').on('focus', function() {
		$(this).removeClass('input-error');
	});
	
    $("#searcharc").submit(function(e){
		$(this).find('.required').each(function(){
			if( $(this).val() == "" )
			{
				e.preventDefault();
				$(this).addClass('input-error');
			}
			else
			{
				$(this).removeClass('input-error');
			}
		});
    });
});
</script>
{/block}